<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock %}  
    </title>

    <!-- Bootstrap CSS and JS -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="TTT Logo">
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'text_through_tweet:home' %}" class="active">Home</a></li>
            <li><a href="{% url 'text_through_tweet:text' %}">Text</a></li>
            <li><a href="#">Decode</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 <span>Text Through Tweets</span>. All rights reserved.</p>
    </footer>
</body>

</html>